<h1>Hello, there!</h1>


<%= form_for current_user do |f| %>
  HIV
  <label class="label-switch">
    <%= hidden_field_tag "user[hiv]", "false" %>
    <%= check_box_tag "user[hiv]", "true", @current_parse_user['hiv'] == "true" ? true : false %>
    <div class="checkbox"></div>
  </label>
  <br>
  HPV
  <label class="label-switch">
    <%= hidden_field_tag "user[hpv]", "false" %>
    <%= check_box_tag "user[hpv]", "true", @current_parse_user['hpv'] == "true" ? true : false %>
    <div class="checkbox"></div>
  </label>
  <br>
  HERPES
  <label class="label-switch">
    <%= hidden_field_tag "user[herpes]", "false" %>
    <%= check_box_tag "user[herpes]", "true", @current_parse_user['herpes'] == "true" ? true : false %>
    <div class="checkbox"></div>
  </label>
  <br>
  GONORRHEA
  <label class="label-switch">
    <%= hidden_field_tag "user[gonorrhea]", "false" %>
    <%= check_box_tag "user[gonorrhea]", "true", @current_parse_user['gonorrhea'] == "true" ? true : false %>
    <div class="checkbox"></div>
  </label>
  <br>
  OTHER
  <label class="label-switch">
    <%= hidden_field_tag "user[other]", "false" %>
    <%= check_box_tag "user[other]", "true", @current_parse_user['other'] == "true" ? true : false %>
    <div class="checkbox"></div>
  </label>

  <%= submit_tag "Submit" %>
<% end %>

<div class="hiv">
  <%= @current_user.counter_values[:hiv] %>
</div>

<div class="hpv">
  <%= @current_user.counter_values[:hpv] %>
</div>

<div class="gonorrhea">
  <%= @current_user.counter_values[:gonorrhea] %>
</div>

<div class="herpes">
  <%= @current_user.counter_values[:herpes] %>
</div>

<div class="chlamydia">
  <%= @current_user.counter_values[:chlamydia] %>
</div>

<div class="other">
  <%= @current_user.counter_values[:other] %>
</div>




<%= link_to "Log out", destroy_user_session_path, :method => :delete  %>