<figure class='horizontal-logo'><%= image_tag "horizontal_logo.png" %></figure>

<h2>Hi <%= @current_parse_user['first_name'] %>, of your <%=current_user.friends_on_parse.count%> friends on here...</h2>

<section class="stats-container">
  <div class="stats hiv">
    <%= @current_user.counter_values[:hiv] %>
    <p class="disclaimer">
      are HIV+
    </p>
  </div>

  <div class="stats hpv">
    <%= @current_user.counter_values[:hpv] %>
    <p class="disclaimer">
      have HPV
    </p>
  </div>

  <div class="stats gonorrhea">
    <%= @current_user.counter_values[:gonorrhea] %>
    <p class="disclaimer">
      have Gonorrhea
    </p>
  </div>

  <div class="stats herpes">
    <%= @current_user.counter_values[:herpes] %>
    <p class="disclaimer">
      have Herpes
    </p>
  </div>

  <div class="stats chlamydia">
    <%= @current_user.counter_values[:chlamydia] %>
    <p class="disclaimer">
      have Chlamydia
    </p>
  </div>

  <div class="stats other">
    <%= @current_user.counter_values[:other] %>
    <p class="disclaimer">
      have another STI
    </p>
  </div>
</section>

<h2>Join the conversation.  I've got...</h2>


<section class="settings">
  <%= form_for current_user do |f| %>
    <article>
      HIV
      <label class="label-switch">
        <%= hidden_field_tag "user[hiv]", "false" %>
        <%= check_box_tag "user[hiv]", "true", @current_parse_user['hiv'] == "true" ? true : false %>
        <div class="checkbox"></div>
      </label>
    </article>
    <article>
      HPV
      <label class="label-switch">
        <%= hidden_field_tag "user[hpv]", "false" %>
        <%= check_box_tag "user[hpv]", "true", @current_parse_user['hpv'] == "true" ? true : false %>
        <div class="checkbox"></div>
      </label>
    </article>
    <article>
      HERPES
      <label class="label-switch">
        <%= hidden_field_tag "user[herpes]", "false" %>
        <%= check_box_tag "user[herpes]", "true", @current_parse_user['herpes'] == "true" ? true : false %>
        <div class="checkbox"></div>
      </label>
    </article>
    <article>
      GONORRHEA
      <label class="label-switch">
        <%= hidden_field_tag "user[gonorrhea]", "false" %>
        <%= check_box_tag "user[gonorrhea]", "true", @current_parse_user['gonorrhea'] == "true" ? true : false %>
        <div class="checkbox"></div>
      </label>
    </article>

    OTHER
    <label class="label-switch">
      <%= hidden_field_tag "user[other]", "false" %>
      <%= check_box_tag "user[other]", "true", @current_parse_user['other'] == "true" ? true : false %>
      <div class="checkbox"></div>
    </label>

    <%= submit_tag "Submit" %>
  <% end %>
</section>

<%= link_to "Leave a message", home_feed_path %>
<%= link_to "Log out", destroy_user_session_path, :method => :delete  %>